extends layout

block content
    h1 Consumer Web Pull Requests
    table
        each pr in prs
            tr(class= pr.status)
                td.time
                    time(datetime=pr.createdAt)= pr.visibleTime
                td.repo= pr.repo
                td.author= pr.author
                td.title
                    a(href=pr.link)= pr.title
